@{
    ViewData["Title"] = "";
}
@using Products_N_Categories.Models
@model NewProductCategoryModel
<div class="text-center">
    <h1 class="display-4">Products | <a href="Category">Categories</a></h1>
 
 <div class="row">


<div class="col-md">
    <h1>New Product</h1>

    <form asp-action="AddProduct" asp-controller="Home" method="post">     

    <section>
        <span asp-validation-for="newProduct.Name"></span>
        <label asp-for="newProduct.Name">Nmae</label>
        <input type="text" name="newProduct.Name">
    </section>    

    <section>
        <span asp-validation-for="newProduct.Description"></span>
        <label asp-for="newProduct.Description">Description </label>
        <input type="text" name="newProduct.Description">
    </section>   

    <section>
        <span asp-validation-for="newProduct.Price"></span>
        <label asp-for="newProduct.Price">Price</label>
        <input type="text" name="newProduct.Price">
    </section>   
    
    <input type="submit" value="Create!">
    </form>
</div>

<div class="col-md">
    <h1>Existing Products</h1>

    @foreach(var a in Model.Productss){
        <p><a href="@a.ProductId">@a.Name</a></p>
    }
</div>
 </div>

</div>
